*{
    font-family: "Inter", sans-serif;
    /* background-color: #000000; */
}

@keyframes dissolveIn {
    from{
        opacity: 0;
    }

    to{
        transform: translateX(0px);
    }
}

body {
    margin: 0;
    padding: 0;
}
h1 {
    margin:0;
    font-size: clamp(40px, 7vw,80px);
    color:white;
    margin-left: clamp(0.5em, 5vw, 8em);
    /* margin-top:  */
    font-weight:400;
    animation: dissolveIn 0.7s ease-out 0.6s;
    animation-fill-mode: backwards;
}

#h{
    margin-left: 5.5vw;
    margin-right: clamp(1em, 5vw, 8em);
    background-color: #FF8B0F;
    height: 1px;
    border:  none;
    animation: dissolveIn 0.7s ease-out 1s;
    animation-fill-mode: backwards;
}


.bf-all-title{
    background-color: #000000;
}
.all-title {
    background-image: url("images/page1.png");
    /* aspect-ratio: 16 / 9; */
    height: 100vh;
    background-size: cover;
    background-position: right 10% center;
    animation: blurkan;
    animation-timeline: view();
    animation-range: entry 100% cover 130%;
    background-color: #000000;
    
}



@keyframes blurkan {
    from{
        filter: blur(0px)
    }
    to{
        filter: blur(10px);
        opacity: 50%;
        
    }
    
}

.sub-main-title{
    /* postion: */
    /* margin-top: 0; */
    /* max-height: 100; */
    /* padding-top: 8vw; */
    position:absolute;
    top:40%;
    transform: translate(-0%, -50%)
    
}

.sub-title{
    /* color: white */
    margin:0;
    font-size: clamp(18px, 3.2vw, 30px);
    color:white;
    margin-left: clamp(1.5em, 5vw, 8em);
    /* margin-top:  */
    font-weight:400;
    min-width: 200px;
    animation: dissolveIn 1.5s ease-out 1.5s;
    animation-fill-mode: backwards;
    
}




@media (max-width: 778px){
    .sub-main-title{
        top: 75%;
        left: 0%;
        transform: translate(-0%, -50%);
        

    }
}

@media (max-width: 550px){
    .all-title{
        background-position: right 16% center;

    }

    br{
        height: 0;
    }
}






/*------------------ Page 2 ------------------*/

.page2{
    background-color: #F1E3CA;
    margin: 0;
    /* padding: 0; */
    padding-bottom: 10vh;

}

.background{
    margin:0;
    padding:0;
    margin-left: 7%;
    font-weight: 600;
    margin-bottom: 3%;
    font-size: clamp(3.5em, 5vw, 8em);
    padding-top: clamp(0.2em, 2vw, 0.4em);
    color: #673502;
    animation: slideUp1 0.5s;
    animation-timeline: view();
    /* animation-range: entry 20% cover 40%; */
    padding-top: 10vh
}


.page2-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* gap: 1em; */

    grid-template-areas: 
    "box1 box1 box2 box2"
    "box4 box4 box4 box4"
    "box3 box3 box3 box3";   
}


.page2 .box1{
    /* color: #673502; */
    padding-left: 7vw;
    padding-right: 4.5vw;
    margin-bottom: 0;
    animation: slideUp1 0.5s;
    animation-timeline: view();
    
    
    /* font-size: clamp(3em, 5vw, 8em); */
}

.page2 .box2{
    /* color: #673502; */
    padding-right: 7vw;
    padding-left: 4.5vw;
    margin-bottom: 0;
    animation: slideUp1 0.5s;
    animation-timeline: view();

}

.page2 .item{
    background-color: #F1E3CA;
    min-height: 120px;
    font-size: clamp(15px,3vw, 20px);
    color: #4B2703
    /* font-size: 27px; */

}


.bottom{
    text-align: center;
    padding-left: clamp(20%, 30vw, 30%);
    padding-right: clamp(20%, 30vw, 30%);
    animation: slideUp2 0.5s;
    animation-timeline: view();
}

.foto-page2{
    width : clamp(300px, 90vw, 600px)
    
    
    
}

.page2 .box4{
    text-align: center;
    justify-items: center;
    margin : 0
}


@keyframes slideUp1{
    30%{
        transform: translateY(100px);
        opacity: 0%;
    }
    50%{
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes slideUp2{
    10%{
        transform: translateY(100px);
        opacity: 0%;
    }
    15%{
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes slideUp3{
    10%{
        transform: translateY(100px);
        opacity: 0%;
    }
    40%{
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes slideUp4{
    5%{
        transform: translateY(100px);
        opacity: 0%;
    }
    40%{
        transform: translateY(0);
        opacity: 100%;
    }
}

@media (max-width: 550px){
    @keyframes slideUp1{
        10%{
            transform: translateY(100px);
            opacity: 0%;
        }
        30%{
            transform: translateY(0);
            opacity: 100%;
        }
    }

    @keyframes slideUp2{
        10%{
            transform: translateY(100px);
            opacity: 0%;
        }
        15%{
            transform: translateY(0);
            opacity: 100%;
        }
    }

    @keyframes slideUp3{
        10%{
            transform: translateY(100px);
            opacity: 0%;
        }
        40%{
            transform: translateY(0);
            opacity: 100%;
        }
    }

    @keyframes slideUp4{
        5%{
            transform: translateY(100px);
            opacity: 0%;
        }
        25%{
            transform: translateY(0);
            opacity: 100%;
        }
    }

}

@media (max-width: 778px){
    .page2-container{
    display: grid;
    grid-template-columns: 1fr;


    grid-template-areas: 
    "box1"
    "box2"
    "box4"
    "box3";
}

    .page2 .box1{
    /* color: #673502; */
    max-width: 90%;
    padding-top: 6%;
    /* margin-top: ; */
    }

    .background{
        margin-bottom: 0px;
    }

    .page2 .box2{
    max-width: 90%;
    padding-top: 6%;
    padding-right: 4.5vw;
    padding-left: 7vw;

    }

    .foto-page2{
        aspect-ratio: initial;
        width: 86%;

        overflow: hidden;
        margin-left: 7vw;
        margin-right: 7vw;
    }
    
    .bottom{
        /* max-width: 90vw; */
        padding-left: 7vw;
        padding-top: 2%;
        text-align: start;
        /* background-color: black; */
        max-width: 80%;
        padding-right:0;
    }

    .organization{
        animation: slideUp4;
    }

    .text{
        animation: slideUp4;

    }
}








/*------------------ Page 3 ------------------*/



.page3{
    background-color: #000000;
    /* filter: blur(10px) */
    /* backdrop-filter: blur(30px); */
    box-shadow:0px 0px 30px -10px black;
    /* box-shadow:0px -10px 30px 10px black; */
    z-index: 10;
}

/* .afpage3{
    height: 10vh
    /* box-shadow:0px -10px 30px 10px black
}
.page4{
    /* box-shadow: inset 0px 10px 30px 10px black; 
    z-index: 3;
*/


.photography{
    margin:0;
    padding:0;
    margin-left: 7%;
    font-weight: 600;
    margin-bottom: 3%;
    font-size: clamp(3em, 5vw, 8em);
    padding-top: clamp(0.2em, 2vw, 0.4em);
    color: #FF8B0F;
    animation: slideUp1 0.5s;
    animation-timeline: view();
    padding-top: 5vh;

}


.carousel1{
    overflow-x: auto;
    display: flex;

    margin-left: 7%;
    margin-right: 7%
}

.carousel1::-webkit-scrollbar{
    display:none;
    margin: 0 auto;
    overflow: hidden;
}

.group1{
    display: flex;
    gap: 1em;
    animation: spin 35s infinite linear;
    padding-right: 1em
}

.foto{
    height: clamp(200px, 20vh, 700px);
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;

}

.card{
    flex: 0 0 5em;

}

#dialog{
    padding: 0;
    border: 0;
    transition: overlay 2.3s allow-discrete;
    
}


#dialog:focus-visible {

    outline: none;
}

dialog::backdrop{
    background-color: rgb(0, 0, 0, 0.7);

}
#dialogImg{
    max-width: 80vw;
    max-height: 70vh;
    display: flex;
    justify-items: center;
    align-items: center;
    /* transition: transform 0.3s ease-in-out; */

}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
    
}

.one-thing{
    font-size: clamp(15px,3vw, 20px);
    text-align: center;
    padding-left: clamp(50px, 30vw, 200px);
    padding-right: clamp(50px, 30vw, 200px);
    padding-top: clamp(1em, 2vw, 3em);
    padding-bottom: clamp(2em, 2vw, 3em);
    color: #F1E3CA;

}


@media (max-width: 740px){
    .one-thing{
        padding-right: clamp(30px, 30vw, 40px);
        padding-left: clamp(30px, 30vw, 40px);
        
    }
}

.carousel2{
    overflow-x: auto;
    display: flex;

    margin-left: 7%;
    margin-right: 7%
}

.carousel2::-webkit-scrollbar{
    display:none;
    margin: 0 auto;
    overflow: hidden;
}

.group2{
    display: flex;
    gap: 1em;
    animation: spin 27s infinite linear;
    padding-right: 1em
}

.foto2{
    height: clamp(400px, 20vh, 700px);
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.foto:hover{
    opacity: 70%;
    cursor: pointer;
}

.foto2:hover{
    opacity: 70%;
    cursor: pointer;

}

.card{
    flex: 0 0 5em;

}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
    
}

.soeperture{

    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: clamp(1em, 2vw, 3em);
    padding-bottom: clamp(2em, 2vw, 3em);
    

}

.asoeperture{
    /* text-decoration: none; */
    color: inherit;
    font-size: clamp(10px,3vw, 20px);
    color: #F1E3CA;
}








.page4{
    background-color: #F1E3CA;
    padding-bottom: 10vh;
    z-index: 9;
}
.organization{
    margin:0;
    padding:0;
    margin-left: 7%;
    font-weight: 600;
    margin-bottom: 3%;
    font-size: clamp(3em, 5vw, 8em);
    /* padding-top: clamp(0.2em, 2vw, 0.4em); */
    color: #673502;
    animation: slideUp1 0.5s;
    animation-timeline: view();
    padding-top: 5vh;

}

.page4-container{
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-areas: 
    "p-pre c-pre p-doc"
    "p-pre c-doc p-doc"
    "p-dai c-dai p-gat"
    "p-dai c-gat p-gat"
    "blank1 c-bph blank2"
    ;
}

.pp{
    height: clamp(100px, 20vw, 200px);
    transition: 0.6s ease-in-out ;
    transition: 0.4s ease-in-out ;
}


.pp:hover{
    transform: scale(1.1)
}

.page4-container:has(.pre:hover) .president{
    font-size: 1.15em;
    /* width: 115%; */
}
.page4-container:has(.pre:hover) :is(.gath, .bph, .documentation, .daily){
    color: rgb(220, 202, 182);
}

.page4-container:has(.doc:hover) .documentation{
    font-size: 1.15em;
    /* width: 115%; */
}
.page4-container:has(.doc:hover) :is(.president, .bph, .gath, .daily){
    color: rgb(220, 202, 182);
}

.page4-container:has(.dai:hover) .daily{
    font-size: 1.15em;
    /* width: 115%; */
}
.page4-container:has(.dai:hover) :is(.president, .bph, .gath, .documentation){
    color: rgb(220, 202, 182);
}

.page4-container:has(.gat:hover) .gath{
    font-size: 1.15em;
    /* width: 115%; */
}
.page4-container:has(.gat:hover) :is(.president, .bph, .documentation, .daily){
    color: rgb(220, 202, 182);
}
/* .page4-container:has(.pre:hover) .c-pre {
    background-color: #ffeb3b;} */



.p{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.text{
    text-align: center;
    max-width: 500px;
    color: #4B2703;
    transition: 0.35s ease-in-out;
    animation: slideUp3 0.5s;
    animation-timeline: view();
    /* padding-top: 5vh; */
}

.c{
    display: flex;
    justify-content: center;
    font-size: clamp(15px,3vw, 20px)
}

@media(max-width: 812px){
    .page4-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        
        "p-pre" "c-pre"
        
        "p-doc" "c-doc" 
         
        "p-dai" "c-dai"
         
        "p-gat" "c-gat"
        "c-bph"
    ;
    }
    .page4-container:has(.pre:hover).president{
        background-color: #F1E3CA;
        border-radius: 10px;
        color: #4B2703;
    }



    .page4-container:has(.doc:hover) .documentation{
        background-color: #F1E3CA;
        border-radius: 10px;
        color: #4B2703;
    }

    .page4-container:has(.dai:hover) .daily{
        background-color: #F1E3CA;
        border-radius: 10px;
        color: #4B2703;
    }

    .page4-container:has(.gat:hover) .gath{
        background-color: #F1E3CA;
        border-radius: 10px;
        color: #4B2703;
    }
    .pp{
    height: clamp(180px, 30vw, 300px)

    }
    .text{
    text-align: center;
    max-width: clamp(280px, 70vw, 400px);
    }

    .c{
        padding-bottom: 3vh;
    }
}


.page5{
    height: 40vh;
    background-color: #000000;
    margin:0;
    padding: 0
}

.find{
    font-size: clamp(2.3em, 8vw, 3em);
    text-align: center;
    margin: 0;
    color: white;
    padding-top:clamp(50px,5vh, 60px);
    padding-bottom: clamp(21px, 4vw, 36px );
}

.sc{
    width: clamp(50px, 10vw, 50px);
    object-fit: cover;
    transition: 0.3s ease-in-out;

    
    
}

.page5-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "box1 box2"
    "box3 box3";
    margin: 0;
    padding: 0
}

.page5 .box1{
    grid-area: box1;
    display: flex;
    justify-content: end;
    /* background-color: aqua; */
    padding: 0;
    max-width: 100%;
    overflow: hidden;
    padding-right: 30px;
    

    /* padding: */

}

.page5 .box2{
    grid-area: box2;
    display: flex;
    justify-content: start;
    padding: 0;
    /* background-color: bisque; */
    max-width: 100%;
    padding-left: 30px;


}

.mail{
    grid-area: box3;
    display: flex;
    justify-content: center;

    


}

.b-mail{
    margin-top: 3vh;
    height: 40px;
    padding: 0 32px;
    border-radius: 24px; /* setengah dari height */
    width: 90px;
    font-size: 14px;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align */
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    padding-top: 3px;
    transition: 0.3s ease-in-out;


}

.b-mail:hover{
    color: white;
    background-color:#000000;
    /* border: -3px solid;
    border-color: white; */
    box-shadow: inset 0 0 0 3px white;
    cursor: pointer;

}

.in{
    border-radius: clamp(3px,10vw,5px);
    /* border: #000000 solid;
    border-width: -7px; */
    /* overflow: hidden;
    transform: scale(1.2); */
}

.in:hover{
    filter: invert(100%);
    cursor: pointer;

}

.ins:hover{
    filter: invert(100%);
    cursor: pointer;

}

.ins{
    border-radius: clamp(5px,10vw,7px);
    /* padding-right: px; */
    /* zoom:1. */
    /* border: #000000 solid;

    border-width: -7px; */
    /* overflow: hidden; */
    
    /* transform: scale(1.2);
    object-fit: cover; */

}



